*{
    margin: 0;
    padding: 0;
    text-decoration: none;  
}

@font-face {
    font-family: 'Roboto';
    src: url("font/PROXON.ttf")
}

body{
    font-family: Roboto;
}


nav{
    display: flex;
    width: 100%;
    background-image: url(/images/sky.png);
    img{
        width: 5vw;
        padding: .5vw;
    }
    ul{
        display: flex;
        list-style: none;
        align-self: center;
    }
    li{
        padding-left: 3vw;
    }
    a{
        color: white;
        font-weight: bold;
        font-size: 1.5em;
    }
    a:hover{
        -webkit-text-stroke: .1px rgb(49, 48, 48);
    }
}

#card1{
    display: flex;
    align-items: center;
    border: solid rgb(98, 140, 175) 5px;
    background-image: url(/images/back_card.png);
    border-radius: 10px;
    width: 60vw;
    margin: 5vw;
    img{
        width: 20vw;
        border-radius: 3px;
    }
    div{
        margin-left: 5vw;
    }
    h1{
        font-size: 5em;
    }
    h3{
        font-size: 1em;
        color: rgb(51, 51, 51);
        padding: 1em;
    }
    h2{
        font-size: 2em;
    }
}

