*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgb(222, 211, 226);
}

nav{
    display: flex;
    align-items: flex-end;
    background-color: rgb(19, 19, 19);
    padding: 0 15px;
    img{
        width: 12vw;
        margin-top: 15px;
        margin-right: 30px;
        border: solid black 1px;
        border-radius: 10px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        width: 60%;
        padding-bottom: 10px;
        padding-left: 20px;
    }
    li{
        color: white;
        font-weight: bold;
    }
    a{
        color: white;
        font-size: x-large;
    }
}

main{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    #card{
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 40vw;
        border: solid black 5px;
        justify-content: space-between;
        img{
            width: 20vw;

        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 10px;
        }
    }
    #galerie{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img{
            width: 500px;
        }
    }
}