@media only screen and (max-device-width : 720px){
    nav ul {
        display: flex;
        list-style: none;
        flex-direction: column;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    main{
        display:flex;
        flex-direction: column;
        padding: 10%;
    }
    .intro{
        display: flex;
        flex-direction: column;
    }
    .gallery__cards{
        display: flex;
        flex-direction: column;
    }
}