form{
    width: 400px;
    height: 250px;
    margin: auto;
    background-color: rgb(207, 204, 204);
    border: solid 1px black;
}

h1, .bouton{
    text-align: center;
}

.champs{
    margin-left: 30px;
    margin-right: 20px;
}

#memo{
    margin-left: 30px;
    margin-right: 10px;
}

.bouton{
    margin: 20px;
    padding: 5px;
}